APP_ENV=local

HTTP_PORT=80
HTTP_READ_TIMEOUT=
HTTP_WRITE_TIMEOUT=
HTTP_IDLE_TIMEOUT=
HTTP_READ_HEADER_TIMEOUT=
HTTP_SHUTDOWN_TIMEOUT=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=name
DATABASE_SSLMODE=disable 

EX_RATE_API_TOKEN=<token>
EX_RATE_API_URL=https://api.ipstack.com